
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="/Calculate/Calc" method="post">

    <p>
        Nhập a: <input type="text" name="SoA" value="" />
    </p>
    <p>
        Nhập b: <input type="text" name="SoB" value="" />
    </p>
    <p>
        <span><input type="radio" name="calc" value="sum" /> Cộng</span>
        <span><input type="radio" name="calc" value="sub" /> Trừ</span>
        <span><input type="radio" name="calc" value="mul" />Nhân</span>
        <span><input type="radio" name="calc" value="divide" />Chia</span>
    </p>
    <button type="submit">Calculate</button>
</form>