@model B4._2.Models.HoaDon

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<style>
    tr, td {
        padding: 1rem;
        margin: 1rem;
    }
</style>

<table border="1">
    <tr>
        <td>Chủ hộ:</td>
        <td>@Model.fullname</td>
    </tr>
    <tr>
        <td>Số điện tiêu thụ:</td>
        <td>@Model.dientieuthu</td>
    </tr>
    <tr>
        <td>Tiền phải trả:</td>
        <td>@Model.tienphaitra</td>
    </tr>
</table>
