
@{
    ViewBag.Title = "Index";
}

<h2>Đăng nhập</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <p>
        <label style="width: 80px">Mã</label>
        <input type="text" name="ma" value="" />
    </p>
    <p>
        <label style="width: 80px">Mật khẩu</label>
        <input type="password" name="password" value="" />
    </p>
    <input type="submit" value="Login" class="btn btn-primary" />
}
<br />
<div class="" style="color: red;">
    @ViewBag.errLogin
</div>
