
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Nhap diem sinh vien</h2>
        <form action="/NhapDiem/XuLy" method="post">
            <div>Ma SV:</div><input type="text" name="Id" value="" />
            <div>Ho ten:</div><input type="text" name="Name" value="" />
            <div>Diem:</div><input type="text" name="Marks" value="" />
            <hr />
            <input type="submit" value="Nhập" />

        </form><br />


    </div>
</body>
</html>
