
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xuly</title>
</head>
<body>
    <div>

        <table border="1">
            <tr>
                <td>Ma SV:</td>
                <td>@ViewBag.Ma</td>
            </tr>
            <tr>
                <td>Ho Ten:</td>
                <td>@ViewBag.Ten</td>
            </tr>
            <tr>
                <td>Diem:</td>
                <td>@ViewBag.Diem</td>
            </tr>
        </table>


    </div>
</body>
</html>
