@model IEnumerable<Proj_Employee.Models.Department>

@foreach(var item in Model)
{
    var url = "/emps/empbydept/" + item.deptid;
    <a href="@url">@item.deptname</a>

    <label>&nbsp;| &nbsp;</label>

}
