
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    tr, td {
        padding: 0.5rem;
    }
    .heading {
        font-size: 1.5rem;
        font-weight:bold;
    }
</style>


<table border="1" style="padding: 1rem; margin: 1rem;">
    @*<caption>Thông tin sinh viên</caption>*@

    <tr>
        <td colspan="2"><span class="heading">Thông tin sinh viên</span></td>
    </tr>
    <tr>
        <td>Mã SV:</td>
        <td>2021600381</td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td>Đỗ Thế Nhuận</td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td>26-10-2023</td>
    </tr>
    <tr>
        <td>Quê quán:</td>
        <td>Hà Nội</td>
    </tr>
</table>

