
@{
    ViewBag.Title = "Test1111";
}

<style>
    .m-3 {
        margin: 1rem;
    }

    label {
        font-size: 2rem;
    }

    .preview {
        width: 100px;
        height: 100px;
    }

    .preview-img {
        width: 100%;
        height: auto;
    }
</style>

<form action="/" method="post" enctype="multipart/form-data">
    <div class="m-3">
        <label class="" for="avatar">Input</label>
        <input id="avatar" class="form-control" type="file" name="name" value="" />

        <div class="preview m-3">
            <input class="preview-img" type="image" value="" />
        </div>



    </div>


</form>

<script>
    const avatar = document.querySelector("#avatar");
    const preview = document.querySelector(".preview-img")

    avatar.addEventListener("change", function (e) {
        const f = e.target.files[0];
        if (f) {
            const u = URL.createObjectURL(f);
            preview.src = u;
        }
    });

</script>
