-- DROP DATABASE [ECartDB2]
USE [master]
GO
/****** Object:  Database [ECartDB2]    Script Date: 13/11/2021 8:28:37 AM ******/
CREATE DATABASE [ECartDB2]  
GO
USE [ECartDB2]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Typeacc] [tinyint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[Categoryid] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NOT NULL,
	[MetaTitle] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Orderdetailid] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NOT NULL,
	[Pid] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Orderdetailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[Orderid] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderNumber] [varchar](50) NULL,
	[Status] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Tel] [varchar](10) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[Categoryid] [int] NOT NULL,
	[ProdName] [nvarchar](250) NOT NULL,
	[MetaTitle] [varchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[ImagePath] [nvarchar](550) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/11/2021 8:28:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

GO
INSERT [dbo].[Admin] ([Adminid], [Username], [Password], [Typeacc], [Name], [Phone], [Address], [Email], [Status]) VALUES (1, N'1', N'1', 1, N'1', N'1          ', N'1', N'1', 0)
GO
INSERT [dbo].[Admin] ([Adminid], [Username], [Password], [Typeacc], [Name], [Phone], [Address], [Email], [Status]) VALUES (2, N'2', N'2', 2, N'2', N'2          ', N'2', N'2', 0)
GO
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

GO
INSERT [dbo].[Category] ([Categoryid], [CategoryName], [MetaTitle]) VALUES (1, N'Điện thoại', N'dien-thoai')
GO
INSERT [dbo].[Category] ([Categoryid], [CategoryName], [MetaTitle]) VALUES (2, N'Gia dụng', N'gia-dung')
GO
INSERT [dbo].[Category] ([Categoryid], [CategoryName], [MetaTitle]) VALUES (3, N'Làm đẹp', N'lam-dep')
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

GO
INSERT [dbo].[OrderDetail] ([Orderdetailid], [Orderid], [Pid], [Quantity], [UnitPrice], [Total]) VALUES (1, 1, 11, CAST(1.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[OrderDetail] ([Orderdetailid], [Orderid], [Pid], [Quantity], [UnitPrice], [Total]) VALUES (2, 1, 5, CAST(2.00 AS Decimal(18, 2)), CAST(800.00 AS Decimal(18, 2)), CAST(1600.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[OrderDetail] ([Orderdetailid], [Orderid], [Pid], [Quantity], [UnitPrice], [Total]) VALUES (3, 1, 2, CAST(3.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
INSERT [dbo].[Orders] ([Orderid], [OrderDate], [OrderNumber], [Status], [Name], [Address], [Tel]) VALUES (11, CAST(N'2021-09-04 16:59:52.760' AS DateTime), N'040921045952', 0, N'Nga', N'Hà Nội', N'96896844')
GO
INSERT [dbo].[Orders] ([Orderid], [OrderDate], [OrderNumber], [Status], [Name], [Address], [Tel]) VALUES (12, CAST(N'2021-09-04 17:27:29.960' AS DateTime), N'040921052729', 0, N'9', N'6', N'6')
GO
INSERT [dbo].[Orders] ([Orderid], [OrderDate], [OrderNumber], [Status], [Name], [Address], [Tel]) VALUES (13, CAST(N'2021-09-05 12:28:40.273' AS DateTime), N'050921122840', 0, N'1', N'2', N'3')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([Pid], [Categoryid], [ProdName], [MetaTitle], [Description], [ImagePath], [Price]) VALUES (2, 1, N'Điện thoại 1', N'dien-thoai1', N'Loại mới nhất', N'hoa (10).jpg', CAST(1000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Product] ([Pid], [Categoryid], [ProdName], [MetaTitle], [Description], [ImagePath], [Price]) VALUES (3, 1, N'Điện thoại 2', N'dien-thoai2', N'Sản xuất năm 2017', N'hoa (13).jpg', CAST(1500.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Product] ([Pid], [Categoryid], [ProdName], [MetaTitle], [Description], [ImagePath], [Price]) VALUES (4, 2, N'Gia dụng 1', N'gia-dung1', N'Cây lau nhà', N'hoa (14).jpg', CAST(500.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
INSERT [dbo].[User] ([Userid], [Username], [Password], [Name], [Phone], [Address], [Email], [Status]) VALUES (1, N'admin', N'1', N'1', N'1          ', N'1', N'1', 1)
GO
INSERT [dbo].[User] ([Userid], [Username], [Password], [Name], [Phone], [Address], [Email], [Status]) VALUES (2, N'ngadq', N'1', N'1', N'1          ', N'1', N'1', 1)
GO

 