
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string id = Request.Form["id"];
    string fullname = Request.Form["fullname"];
    string birthday = Request.Form["birthday"];
    string gender = Request.Form["gender"];
    string role = Request.Form["role"];
    string languages = Request.Form["languages"];

}

<h2>Data</h2>



