
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHaUI.cshtml";
}

<style>
    .content {
        
    }
    .content h2 {
        text-align: center;
    }
</style>

<div class="content h-100">

    <h2 >Day la trang gioi thieu</h2>


</div>

